<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:remove="all">Template for verify email</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <p th:text="#{verify.greeting(${account.email})}">
    Hello, Peter Static,
  </p>
  <p>Please click on the following link to verify your email address.</p>
  <h4><a href="#" th:href="@{http://op-cacode.rhcloud.com/verify(email=${account.email},key=${account.verifyKey})}">Verify</a></h4>
  <p>If your account is not verified within 3 days then your account will be deleted.</p>
  <p>
    Regards, <br /><br />
    Court Opinions.
  </p>
</body>
</html>